<footer id="footer">
    <h3>Contactanos</h3>
	<div id="container" class="row">
		<section class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></section>
		<section class="formulario col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h4>Trabaja con nosotros</h4>
			<div class="container-formulario">
				<form action="#" method="post">
					<div class="form-group">
						<label for="nombres">Nombres Completos:</label>
						<input type="text" id="nombres" name="nombres" placeholder="Ejemplo: Juan Pérez" required>
					</div>
					<div class="form-group">
						<label for="telefono">Número Telefónico:</label>
						<input type="tel" id="telefono" name="telefono" placeholder="Ejemplo: (123) 456-7890" required>
					</div>
					<div class="form-group">
						<label for="edad">Edad:</label>
						<input type="number" id="edad" name="edad" placeholder="Ejemplo: 30" required>
					</div>
					<div class="form-group">
						<label for="descripcion">Descripción:</label>
						<textarea id="descripcion" name="descripcion" placeholder="Ejemplo: Breve descripción aquí" rows="4" required></textarea>
					</div>
					<button type="submit" class="submit-btn">Enviar</button>
				</form>
			</div>
		</section>
		<section class="redes col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="container-redes">
				<h4>Siguenos en nuestras redes sociales: </h4>
				<ul id="services">
					<li>
					<div>
						<a href="" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</div>
					<span>Facebook</span>
					</li>

					<li>
					<div>
						<a href="https://www.instagram.com/trendystyle.ecuio/" target="_blank">
						<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</div>
					<span>Instagram</span>
					</li>
				</ul>
				<div class="info">
					<ul>
						<li>Quito - Ecuador </li>
						<li>Envios a nivel Nacional</li>
						<li>Quito, Ferroviaria Alta, Heleodoro Ayala y Geoge Davis</li>
						<li>Penúltima para del corredor El recreo - Ferroviaria</li>
						<li>0979087677 - 0995712435 - 0987395023 - 02262847</li>
					</ul>
				</div> 
			</div>
		</section>	
		<section class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></section>
	</div>
	<h6>Comunícate a nuestro whatsapp -> <a href="https://Wa.me/+593995712435" target="_blank">Trendy Style</a></h6>
	<h6>Develop by | <a href="https://kevinpal10.github.io/kevinpallo/" target="_blank">Kevin Pallo</a></h6>
	</footer>