<footer id="footer">
	<h4 class="finalidad">Sigueme en mis redes sociales: </h4>
	<section class="redes">
		<ul id="services">
			<li>
			<div>
				<a href="https://www.facebook.com/kevin.mauri.90" target="_blank">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</div>
			<span>Facebook</span>
			</li>

			<li>
			<div>
				<a href="https://www.instagram.com/kevinakd1/?hl=es-la" target="_blank">
				<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</div>
			<span>Instagram</span>
			</li>

		</ul> 
	</section>		
	<h6 class="develop">Develop by | <a href="https://kevinpal10.github.io/kevinpallo/" target="_blank">Kevin Pallo</a></h6>
	<h6><a href="Wa.me/+593995712435" target="_blank">Comunicate a nuestro whatsapp</a></h6>
	</footer>