<section class="encabezado">
    <app-nav-var></app-nav-var>
</section>
<section class="about-us">
    <div class="container">
        <div class="caja">
            <h1>Misión</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam suscipit eos aliquam voluptatum placeat, cum laborum laboriosam delectus libero veritatis excepturi, molestias, saepe ipsa sequi ab molestiae esse. Aliquam, corporis.</p>
        </div>
        <div class="caja">
            <h1>Visión</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, magni! Enim doloremque dolorum unde omnis esse architecto? Soluta harum id tenetur unde neque sunt delectus reiciendis pariatur, aperiam facere in?</p>
    
        </div>
        <div class="caja">
            <h1>Objetivos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est doloribus doloremque tempora numquam sint tempore consequuntur quos placeat esse dolorum nihil, dolore fugiat sit ratione vero omnis molestias quas ut.</p>
        </div>
    </div>    
</section>
<app-footer></app-footer>
