<div class="row fila">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="navTitle">
        <h1>Catálogo virtual</h1>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="navBar">
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#products">Productos</a></li>
            <!-- <li><a href="#hobbies-field">Trabaja con nosotros</a></li> -->
            <li><a href="#clientes">Clientes</a></li>
            <li><a href="#footer">Contactanos</a></li>
        </ul>				
    </div>
</div>    